---
layout: default
---
<div class="home">

	<div class="wrapper">

		<h1 class="page-title">
			Blog of @jacmendt
		</h1>

		<div class="page">

			<div class="post-content">

				{% for post in site.posts  %}

					{% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
					{% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}

					<!-- If the list starts here -->
					{% if forloop.first %}
						<h2>{{this_year}}</h2>
						<ul class="posts-list">
					{% endif %}

					<li>
						<h4>
							<strong>
								<a href="{{ post.url }}">{{ post.title }}</a>
							</strong>
							<span class="post-date">- {{ post.date | date_to_long_string }}</span>
						</h4>
					</li>

					<!-- If the list ends here -->
					{% if forloop.last %}
					</ul>
					{% else %}
						<!-- New year starts -->
						{% if this_year != next_year %}
						</ul>
						<h2>{{next_year}}</h2>
						<ul class="posts-list">
						{% endif %}
					{% endif %}
				{% endfor %}

			</div>

		</div>

	</div>

</div>
